################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SourceCode/LTMProject/packages
/SourceCode/LTMProject/Libraries/AF.Domain/obj/Debug
/SourceCode/LTMProject/Libraries/AF.Domain/bin/Debug
/SourceCode/LTMProject/Libraries/AF.Data/bin/Debug
/SourceCode/LTMProject/Libraries/AF.Data/obj/Debug
/SourceCode/LTMProject/.vs
/SourceCode/LTMProject/Libraries/AF.Core/bin/Debug
/SourceCode/LTMProject/Libraries/AF.Core/obj/Debug
/SourceCode/LTMProject/Libraries/AF.Services/bin/Debug
/SourceCode/LTMProject/Libraries/AF.Services/obj/Debug
/SourceCode/LTMProject/Presentation/AF.Web/Administration/bin
/SourceCode/LTMProject/Presentation/AF.Web/Administration/obj/Debug
/SourceCode/LTMProject/Presentation/AF.Web/bin
/SourceCode/LTMProject/Presentation/AF.Web/obj/Debug
/SourceCode/LTMProject/Presentation/AF.Web/AF.Web.csproj.user
/SourceCode/LTMProject/Presentation/AF.Web.Framework/bin/Debug
/SourceCode/LTMProject/Presentation/AF.Web.Framework/obj/Debug
/SourceCode/LTMProject/Tests/AF.Data.Tests/bin/Debug
/SourceCode/LTMProject/Tests/AF.Data.Tests/obj/Debug
/SourceCode/LTMProject/Tests/AF.Services.Tests/bin/Debug
/SourceCode/LTMProject/Tests/AF.Services.Tests/obj/Debug
/SourceCode/LTMProject/Presentation/AF.Web/Administration/AF.Admin.csproj.user
/SourceCode/LTMProject/Libraries/AF.Core/AF.Core.csproj.user
/SourceCode/LTMProject/Libraries/AF.Domain/AF.Domain.csproj.user
/SourceCode/LTMProject/Presentation/AF.Web/obj
/SourceCode/LTMProject/Presentation/AF.Web/Administration/obj/Release
/SourceCode/LTMProject/Libraries/AF.Core/bin/Release
/SourceCode/LTMProject/Libraries/AF.Core/obj/Release
/SourceCode/LTMProject/Libraries/AF.Data/bin/Release
/SourceCode/LTMProject/Libraries/AF.Data/obj/Release
/SourceCode/LTMProject/Libraries/AF.Domain/bin/Release
/SourceCode/LTMProject/Libraries/AF.Domain/obj/Release
/SourceCode/LTMProject/Libraries/AF.Services/bin/Release
/SourceCode/LTMProject/Libraries/AF.Services/obj/Release
/SourceCode/LTMProject/Presentation/AF.Web/Content/Upload/World
/SourceCode/LTMProject/Presentation/AF.Web.Framework/bin/Release
/SourceCode/LTMProject/Presentation/AF.Web.Framework/obj/Release
/SourceCode/LTMProject/Tests/AF.Data.Tests/obj/Release
/SourceCode/LTMProject/Tests/AF.Services.Tests/obj/Release
/SourceCode/LTMProject/Tests/AF.Data.Tests/bin/Release
/SourceCode/LTMProject/Tests/AF.Services.Tests/bin/Release
/SourceCode/LTMProject/Libraries/AF.Data/AF.Data.csproj.user
/SourceCode/LTMProject/Libraries/AF.Services/AF.Services.csproj.user
/SourceCode/LTMProject/Presentation/AF.Web/Content/Upload/14
