
@{
    Layout = null;
}
@*<script data-main="/Content/Scripts/Examination/PolyvPlayer" src="~/Content/Scripts/RequireJs/require.js"></script>*@

<div class="modal fade playModal" id="playModal" tabindex="-1" role="dialog"
     aria-hidden="true" style="overflow:hidden;">
</div>

