* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

.article {
    /*position: relative;*/
    /*margin: 0 auto 0 auto;*/
    padding: 0;
    border: none;
    border-top: #95c32c solid 2px;
    min-height: 79px;
    /*width: 90%;*/
    left: 0;
    margin-bottom: 10px;
}

    .article .title {
        display: block;
        /*position: absolute;*/
        /*left: -18px;*/
        top: -2px;
        width: 18px;
        height: auto;
        padding: 6px 0;
        color: #fff;
        text-align: center;
        line-height: 16px;
        background-color: #95c32c;
        font: normal bold 12px/1.7 "宋体";
        margin: 0;
        overflow-y: hidden;
        float: left;
    }

.article_right_xuanxiang {
    /*float: left;
        width: 98.4%;*/
    margin-left: 18px;
}

.articlelist {
    display: block;
    height: 36px;
    border: #ddd solid 1px;
    margin: 0 18px 0;
    padding-left: 10px;
    margin-right: 0px;
    padding-top: 15px;
    min-height: 48px;
}

    .articlelist li {
        display: inline-block;
        margin-left: 0;
        margin-right: 20px;
        font: normal normal 14px "宋体";
        color: #666;
    }

.article_left_xuanxiang {
    width: 24px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #95c32c;
    cursor: pointer;
    float: left;
}

    .article_left_xuanxiang input {
        float: left;
        margin-left: -20px;
    }

    .article_left_xuanxiang label {
        display: block;
        cursor: pointer;
    }

#choiceList .select {
    background-color: #008fef;
}

#choiceList #chContent {
    float: left;
    width: 90%;
    border-top: #95c32c solid 2px;
}

#choiceList .article_right_xuanxiang {
    margin-left: 24px;
}

#chContent .article_right_xuanxiang {
    /*width: 97.9%;*/
    margin-left: 24px;
}

#paili {
    position: relative;
    width: 660px;
    margin: 24px auto 0 0;
    padding: 0;
    border: none;
    border-top: #95c32c solid 2px;
}

em {
	position: absolute;
	top: -55px;
	left: 105px;
	font-style: normal;
	z-index: 2;
	display: none;
    color: red;
}

.addChildTimu:hover {

    cursor: pointer;
}
