@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}


	<!-- BEGIN PAGE CONTENT-->
@*<div class="tiles">
    <div class="tile double-down bg-blue-hoki">
        <div class="tile-body">
            <i class="fa fa-bell-o"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Notifications
            </div>
            <div class="number">
                6
            </div>
        </div>
    </div>
    <div class="tile bg-red-sunglo">
        <div class="tile-body">
            <i class="fa fa-calendar"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Meetings
            </div>
            <div class="number">
                12
            </div>
        </div>
    </div>
    <div class="tile double  bg-green-turquoise">
        <div class="corner">
        </div>
        <div class="check">
        </div>
        <div class="tile-body">
            <h4>support@metronic.com</h4>
            <p>
                Re: Metronic v1.2 - Project Update!
            </p>
            <p>
                24 March 2013 12.30PM confirmed for the project plan update meeting...
            </p>
        </div>
        <div class="tile-object">
            <div class="name">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="number">
                14
            </div>
        </div>
    </div>
    <div class="tile  bg-yellow-saffron">
        <div class="corner">
        </div>
        <div class="tile-body">
            <i class="fa fa-user"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Members
            </div>
            <div class="number">
                452
            </div>
        </div>
    </div>
    <div class="tile double bg-blue-madison">
        <div class="tile-body">
            <img src="/Content/Metronic/admin/pages/media/profile/photo1.jpg" alt="">
            <h4>Announcements</h4>
            <p>
                Easily style icon color, size, shadow, and anything that's possible with CSS.
            </p>
        </div>
        <div class="tile-object">
            <div class="name">
                Bob Nilson
            </div>
            <div class="number">
                24 Jan 2013
            </div>
        </div>
    </div>
    <div class="tile bg-purple-studio">
        <div class="tile-body">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Orders
            </div>
            <div class="number">
                121
            </div>
        </div>
    </div>
    <div class="tile image">
        <div class="tile-body">
            <img src="/Content/Metronic/admin/pages/media/gallery/image2.jpg" alt="">
        </div>
        <div class="tile-object">
            <div class="name">
                Media
            </div>
        </div>
    </div>
    <div class="tile bg-green-meadow">
        <div class="tile-body">
            <i class="fa fa-comments"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Feedback
            </div>
            <div class="number">
                12
            </div>
        </div>
    </div>
    <div class="tile double bg-grey-cascade">
        <div class="tile-body">
            <img src="/Content/Metronic/admin/pages/media/profile/photo2.jpg" alt="" class="pull-right">
            <h3>lisa_wong</h3>
            <p>
                I really love this theme. I look forward to check the next release!
            </p>
        </div>
        <div class="tile-object">
            <div class="name">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="number">
                10:45PM, 23 Jan
            </div>
        </div>
    </div>
    <div class="tile bg-red-intense">
        <div class="tile-body">
            <i class="fa fa-coffee"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Meetups
            </div>
            <div class="number">
                12 Jan
            </div>
        </div>
    </div>
    <div class="tile bg-green">
        <div class="tile-body">
            <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Reports
            </div>
            <div class="number">
            </div>
        </div>
    </div>
    <div class="tile bg-blue-steel">
        <div class="tile-body">
            <i class="fa fa-briefcase"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Documents
            </div>
            <div class="number">
                124
            </div>
        </div>
    </div>
    <div class="tile image double ">
        <div class="tile-body">
            <img src="/Content/Metronic/admin/pages/media/gallery/image4.jpg" alt="">
        </div>
        <div class="tile-object">
            <div class="name">
                Gallery
            </div>
            <div class="number">
                124
            </div>
        </div>
    </div>
    <div class="tile bg-yellow-lemon ">
        <div class="corner">
        </div>
        <div class="check">
        </div>
        <div class="tile-body">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Settings
            </div>
        </div>
    </div>
    <div class="tile bg-red-sunglo">
        <div class="tile-body">
            <i class="fa fa-plane"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Projects
            </div>
            <div class="number">
                34
            </div>
        </div>
    </div>
</div>*@
<!-- END PAGE CONTENT-->


@*    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light bg-inverse tasks-widget">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-globe font-green-haze"></i>
                        <span class="caption-subject font-green-haze ">Tasks</span>
                        <span class="caption-helper">tasks summary...</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="1">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            Present 2013 Year IPO Statistics at Board Meeting
                                        </span>
                                        <span class="label label-sm label-success">Company</span>
                                        <span class="task-bell">
                                            <i class="fa fa-bell-o"></i>
                                        </span>
                                    </div>

                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            Hold An Interview for Marketing Manager Position
                                        </span>
                                        <span class="label label-sm label-danger">Marketing</span>
                                    </div>

                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            AirAsia Intranet System Project Internal Meeting
                                        </span>
                                        <span class="label label-sm label-success">AirAsia</span>
                                        <span class="task-bell">
                                            <i class="fa fa-bell-o"></i>
                                        </span>
                                    </div>

                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            Technical Management Meeting
                                        </span>
                                        <span class="label label-sm label-warning">Company</span>
                                    </div>

                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            Kick-off Company CRM Mobile App Development
                                        </span>
                                        <span class="label label-sm label-info">Internal Products</span>
                                    </div>

                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            Prepare Commercial Offer For SmartVision Website Rewamp
                                        </span>
                                        <span class="label label-sm label-danger">SmartVision</span>
                                    </div>

                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            Sign-Off The Comercial Agreement With AutoSmart
                                        </span>
                                        <span class="label label-sm label-default">AutoSmart</span>
                                        <span class="task-bell">
                                            <i class="fa fa-bell-o"></i>
                                        </span>
                                    </div>

                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            Company Staff Meeting
                                        </span>
                                        <span class="label label-sm label-success">Cruise</span>
                                        <span class="task-bell">
                                            <i class="fa fa-bell-o"></i>
                                        </span>
                                    </div>

                                </li>
                                <li class="last-line">
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                            KeenThemes Investment Discussion
                                        </span>
                                        <span class="label label-sm label-warning">KeenThemes </span>
                                    </div>

                                </li>
                            </ul>
                            <!-- END START TASK LIST -->
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="#">查看所有任务</a>
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="clearfix">
    </div>

